body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.menu {
    background-color: #1F2937;
    height: 20;
    color: #F9FAF8;
    display: flex;
    flex-direction:row;
    flex: 1 0 auto;
    margin-bottom: -1px;

}


.header-menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    /* border: 5px solid red; */
    margin-left: auto;
    margin-right: 8rem;
    justify-content: center;
    padding: 0px;
    gap:30px;
    align-items: center;
    color: #e5e7ebce;
    
}

.header-menu li { 
    text-align: center;
    
}

.header-logo{
    margin-left:8rem;
    padding-right: 30px;
}

.landing {
    background-color: #1F2937;
    height: 20rem;
    color: #F9FAF8;
    display: flex;
    flex-direction:row;
    align-items: center;
}

.left-column{
    margin-left:8rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding-right: 5rem;

}

.hero-main-text{
    font-size: 48px;
    font-weight: bold;
    margin:0px;

}

.hero-right .image-placeholder{
    background: peachpuff;
  border: 4px solid brown;
  height: 100px;


}

.right-column{
    margin-right:8rem;
    flex: 1 1 100%;

}

.left-column button{
    width: fit-content;
}

.services *{
    /* border: 5px solid red; */
}

.services{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.services h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}


.services-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    overflow: auto;
    justify-content: space-between;
    padding: 0 8rem 0 8rem;
}

.services-list .image-placeholder{
  border: 4px solid rgb(42, 87, 165);
  border-radius: 10px;
  height: 100px;
  width: 100px;


}
